* {
  padding: 0;
  margin: 0;
  font-family:"Montserrat Alternates", sans-serif;
  .link {
    text-decoration: none;
    color: inherit;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
// body{
//   background-color: #FDF5E6;
// }